<div class="container">
    <div class="row">
        <h1>User List</h1>
        <div class="text-end">
            <button [routerLink]="'add'" class="btn btn-outline-primary">ADD User</button>
        </div>
        <table class="table table-striped" *ngIf="users.length > 0; else noUsers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>EMail</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i=index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                       <a [routerLink]="['edit', user.id]" class="btn btn-warning me-3">Edit</a>
                       <a class="btn btn-danger" (click)="deleteUserId(user.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #noUsers>
            <div class="mx-auto w-50 shadow py-4 text-center">
                No Users, Please add 
            </div>
        </ng-template>
    </div>
</div>