<div class="container mt-5 pt-3">
    <h4 class="mt-4">Products</h4>  
    <div class="row">
        <div class="text-end mt-2 ">
            <button [routerLink]="'add'" class="btn btn-outline-primary">ADD Product</button>
        </div>
        <table class="table table-striped" *ngIf="products.length > 0; else noUsers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i=index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{product.pname}}
                    </td>
                    <td>
                        {{product.category}}
                    </td>
                    <td>
                        {{product.price}}
                    </td>
                    <td>
                        <a  class="btn btn-warning me-3">Edit</a>
                       <a class="btn btn-danger" >Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #noUsers>
            <div class="mx-auto w-50 shadow py-4 text-center">
                No Users, Please add 
            </div>
        </ng-template>
    </div>
  </div>
  <router-outlet></router-outlet>